.popup {
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 50
	opacity: 0
	transition opacity 300ms ease-in-out
	display: flex
	justify-content: center
	align-items: center
	visibility: hidden
	transform translate(0, -100%)
	&.popup_show {
		opacity: 1
		visibility: visible
		transform translate(0, 0)
		.popup__close {
			transform scale(1)
		}
		.popup__content {
			transform translate(0, 0)
		}
	}
}

.popup__close {
	position: absolute
	top: 0
	bottom: 0
	right: 0
	left: 0
	background rgba(#000, 0.7)
	transform scale(0)
	transition opacity 300ms ease-in-out, transform 300ms ease-in-out
}

.popup__content {
	position: relative
	z-index: 5
	transition opacity 300ms ease-in-out, transform 300ms ease-in-out
	transform translate(0, -100%)
}

.popup__btn {
	position: absolute
	top: 1em
	right: 1em
	height: 1.3em
	width: 1.3em
	cursor: pointer
	transition transform 500ms ease
	z-index: 5
	&:hover {
		transform rotate(180deg)
	}
}



/////        видео    /////////
.popup__show-video {
	.popup__content{
		width: rem(1280);
		height: rem(720)
	}
	.popup__show-video-item{
		width: 100%
		height: 100%
	}
	iframe{
		width: 100%
		height: 100%
	}
	.icon-svg{
		fill #fff
		width: 100%
		height: 100%
	}
}
