.decor {
	position: absolute
	pointer-events none
}

.top-info__decor-1 {
	top: -1.7rem;
	left: 50%;
	transform translate(-22%, 0)
	z-index: 1
}

.top-info__decor-2 {
	width: rem(743)
	top: 0
	left: 2rem
	pointer-events none
}

.top-info__decor-3 {
	width: rem(743)
	top: 0
	right: 0rem
	transform scale(-1, 1)
	pointer-events none
}

.top-info__decor-4 {
	width: 19.38rem;
	top: -0.7rem;
	right: -4.7rem;
}

.top-info__decor-5 {
	width: rem(263);
	top: 2.5rem;
	right: -9.2rem;
	opacity: 0.6
}

.advantages__decor-1 {
	opacity: 0.3
	top: -5rem
	left: 0rem
	z-index: 3
}

.advantages__decor-2 {
	opacity: 0.3
	top: 1.2rem
	left: 50%
	transform translate(2%, 0)
	z-index: 3
}

.advantages__decor-3 {
	top: 8.2rem;
	left: 0;
}

.triangle {
	width: rem(1920);
	height: rem(400);
	position: absolute;
	
}

.triangle::before {
	content: "";
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
	z-index: 1
}

.triangle::after {
	content: "";
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: rem(400) rem(1920) 0 0;
	border-color: #12412F transparent transparent transparent;
	z-index: 1
}

.products__decor-1 {
	opacity: 0.3
	top: -4.5rem
	left: 0rem
}

.products__decor-2 {
	opacity: 0.3
	top: -4.5rem
	right: 0rem
	transform scale(-1, 1)
}

.reviews__decor-1 {
	width: rem(326)
	opacity: 0.3
	top: -1.6rem;
	right: 4.4rem;
}

.reviews__decor-2 {
	width: rem(326)
	opacity: 0.5
	top: -7.9rem;
	right: -12.7rem;
}

.reviews__decor-3 {
	width: rem(373)
	opacity: 0.7
	top: -3rem;
	right: -24.4rem;
}
	.bottom-info__decor-1{
		left: 0
		top: 5.9rem;
	}
	.bottom-info__decor-2{
		right: 0
		top: 5.9rem;
	}
.bottom-info__decor-3{
	width: 100%
	left: 0
	right: 0
	top: 31.9rem
	z-index: 2
}
.bottom-info__decor-4{
	width: 15.5rem;
	top: 19.5rem;
	left: 28.5rem;
	z-index: 2;
}
.bottom-info__decor-5{
	width: rem(310);
	top: 12.1rem;
	right: 15.8rem;
	z-index: 2;
}