@media (min-width: 320px) and (max-width: 480px) {
	
	main {
		
		overflow: hidden
	}
	
	.wrapper {
		max-width: 90%
	}
	
	.mobile-none {
		display: none
	}
	
	.desktop-none {
		display: block;
	}
	
	.title {
		h1 {
			font-size: rem(24);
			line-height: rem(28);
		}
		
		h2 {
			font-size: rem(24);
			line-height: rem(33);
		}
	}
	
	.top-info__wrap {
		width: 100%
		max-width: rem(360)
		margin: 0 auto
		flex-direction: column
		justify-content: center
		align-items: center
	}
	
	.info__column {
		width: 100%
	}
	
	.top-info__column__left {
		width: 100%
		margin-left: 0
	}
	
	.top-info__decor-1, .top-info__decor-3 {
		display: none
	}
	
	.top-info {
		padding: 1.2rem 0 2rem;
		position: relative;
	}
	
	.top-info__img-1 {
		display: none
	}
	
	.top-info__title {
		padding-left: 0
		
		p {
			font-size: rem(18);
			line-height: rem(21);
			margin-top: 0.7rem
		}
	}
	
	.top-info__logo {
		width: rem(290)
		margin: 2rem auto 0
	}
	
	.top-info:before {
		top: 10.8rem;
		right: -7.96rem;
		width: 26.25rem;
		height: 15.88rem;
		z-index: 5;
	}
	
	.info__products {
		flex-direction: column;
		margin: 21.8rem 0 0 3.1rem;
	}
	
	.info__product-item:nth-child(1) {
		margin-right: 0;
		margin-bottom: 1.8rem;
	}
	
	.countdown {
		flex-direction: column
	}
	
	.top-info__discount-btn {
		margin-top: 3rem
	}
	
	.top-info__column__right {
		position: absolute;
		top: 8.9rem;
		left: 0;
	}
	
	.video {
		width: rem(61);
		height: rem(61);
		
		&:before {
			width: rem(51);
			height: rem(51);
		}
	}
	
	.play-icon-svg {
		width: rem(21);
		height: rem(15);
	}
	
	.top-info__video {
		margin: 6.7rem 0 0 -1rem;
	}
	
	.info__img-2 {
		width: 17.67rem;
		position: absolute;
		top: 0rem;
		left: 1rem;
	}
	
	.info__img-3 {
		width: 6.78rem;
		position: absolute;
		top: 0rem;
		right: -3.4rem;
	}
	
	.top-info__decor-4 {
		width: rem(158)
		top: 9rem;
		right: 1.1rem;
	}
	
	.top-info__decor-5 {
		width: rem(134)
		opacity: 0.6
		top: 11rem;
		right: -1.3rem;
	}
	
	.advantages {
		position: relative;
		padding: 1.6rem 0;
	}
	
	.advantages__wrap {
		width: 100%
		max-width: rem(360)
		margin: 0 auto
		flex-direction: column
		justify-content: center
		align-items: center
	}
	
	.advantages__column-left {
		width: 100%;
		position: relative;
		
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: rem(293)
			height: rem(224)
			top: 0rem
			left: -0.3rem
		}
	}
	
	.advantages__logo {
		width: rem(148);
		margin: 1.3rem 0 0 1.3rem;
	}
	
	.advantages__video {
		display: none
	}
	
	.advantages__img-1 {
		width: 12.44rem;
		margin: 0.8rem 0 0 -1.2rem;
	}
	
	.advantages__img-2 {
		width: 8.6rem;
		top: 0.2rem;
		right: -1.1rem;
	}
	
	.advantages__column-right {
		width: 100%
		padding: 0
		margin-top: 2.2rem
	}
	
	.advantages__img-3 {
		display: none
	}
	
	.advantages__item-title {
		h3 {
			font-size: rem(18);
			line-height: rem(21);
		}
	}
	
	.advantages__item-txt {
		margin-top: 0.4rem
		
		p {
			font-size: rem(14);
			line-height: rem(16);
		}
	}
	
	.advantages__item {
		margin-bottom: 1.1rem
	}
	
	.offer {
		padding: 0 0 2.7rem;
	}
	
	.offer__wrap {
		width: 100%
		max-width: rem(360)
		margin: 0 auto
		flex-direction: column
		justify-content: center
		align-items: center
	}
	
	.offer__column-left {
		width: 100%
	}
	
	.offer__img-1 {
		width: 13rem;
		margin-top: 3.3rem;
		
		h3 {
			width: rem(178)
			font-size: rem(14);
			line-height: rem(17);
		}
		
		img {
			margin-top: 0.6rem
		}
	}
	
	.offer__img-2 {
		width: 6.09rem;
		margin: 0;
		position: absolute;
		top: 2rem;
		right: -0.2rem;
	}
	
	.offer__column-right {
		width: 100%;
	}
	
	.offer__title {
		margin-top: 2.1rem;
	}
	
	.offer__column__wrap {
		flex-direction: column
		margin-top: 2.15rem;
	}
	
	.offer__info {
		width: 100%;
		max-width: 100%;
		
		p {
			margin-bottom: 0.6rem
		}
	}
	
	.offer__form {
		margin: 2.3rem auto 0;
	}
	
	.products {
		padding: 3.8rem 0 2.2rem;
		
		.wrapper {
			max-width: 100%
		}
	}
	
	.product__item-title {
		width: 80%;
		margin: 0 auto;
		
		h2 {
			font-size: rem(24);
			line-height: rem(28);
			
		}
		
		p {
			font-size: rem(14);
			line-height: rem(16);
			margin: 1.35rem auto 0
			width: 100%
			max-width: rem(240)
		}
	}
	
	.product__item {
		padding: 1.2rem 0 0;
		margin-bottom: 3.85rem;
		
		&:after {
			background: url("../images/figure-6.png") no-repeat
			background-size: 100%;
		}
	}
	
	.product__item__wrap {
		width: 100%
		max-width: rem(360)
		margin: 2.8rem auto 0
		flex-direction: column
		justify-content: center
		align-items: center
	}
	
	.product__column-left {
		order: 2
		width: 90%
		margin-top: 2.1rem
	}
	
	.product__column-center {
		order: 1
		width: 90%
	}
	
	.product__column-right {
		order: 3
		width: 90%
		margin-right: 0;
		margin-top: 3.5rem
	}
	
	.product__item-img {
		width: 19.63rem;
		margin: -1.8rem 0 0 -0.8rem;
	}
	
	.product__column-center:after {
		background-size: 100%
		width: rem(289);
		height: rem(480);
		top: -4.8rem;
		left: 0;
	}
	
	.product__gallery-item {
		width: 31%;
		margin-bottom: 0.6rem
	}
	
	.product__footnote {
		margin-top: 1.7rem;
	}
	
	.product__item__price {
		margin-top: 5.1rem
	}
	
	.reviews:after {
		top: -2.7rem;
	}
	
	.reviews__img {
		display: none
	}
	
	.user-name {
		p {
			font-size: rem(18);
			line-height: rem(21);
		}
	}
	
	.review__logo {
		display: none
	}
	
	.review__slider .swiper-container {
		padding: 2.7rem 0 4rem;
	}
	
	.bottom-info {
		padding: 2rem 0 2rem;
		position: relative;
	}
	
	.bottom-info__wrap {
		width: 100%
		max-width: rem(360)
		margin: 0rem auto 0
		flex-direction: column
		justify-content: center
		align-items: center
	}
	
	.bottom-info__title {
		width: 100%;
		
		p {
			font-size: rem(18);
			line-height: rem(21);
			margin-top: 0.7rem
		}
	}
	
	.bottom-info__column__right {
		position: absolute;
		left: 0;
		top: 7.8rem;
		
		&:after {
			background-size: 100%
			width: 21.38rem;
			height: 16.44rem;
			top: 0rem
			left: -0.3rem
		}
	}
	
	.bottom-info__logo {
		width: rem(148);
		margin: 1.3rem 0 0 1.3rem;
	}
	
	.bottom-info__img-1 {
		width: 5.65rem;
		position: relative;
		z-index: 5;
		margin: -1.2rem 0 0 7.5rem;
	}
	
	.bottom-info__img-2 {
		top: 0.2rem;
		right: -1.2rem;
		width: 8.15rem;
	}
	
	.bottom-info__decor-4 {
		width: 7rem;
		top: 16.7rem;
		left: -3rem;
		z-index: 2;
	}
	
	.bottom-info__decor-5 {
		width: 8.4rem;
		top: 13.5rem;
		left: 0.5rem;
		z-index: 2;
	}
	
	.bottom-info__products {
		margin: 23.1rem 0 0 3.1rem;
	}
	
	.bottom-info__discount-btn {
		margin: 3rem auto 0;
		display: flex
		justify-content: center
		align-items: center
	}
	
	.bottom-info__column__left .bottom-info__countdown {
		margin: 0.9rem auto 0;
	}
	
	.footer__wrap {
		width: 100%
		max-width: rem(360)
		margin: 0rem auto 0
		flex-direction: column
		justify-content: center
		align-items: center
	}
	.popup__show-video .popup__content {
		width: 100%;
		height: 50%;
	}
}

@media (max-width: 480px) and (min-width: 360px) {
	.info__products {
		margin: 21.8rem 0 0 4.1rem;
	}
	.top-info__video {
		margin: 6.7rem 0 0 1rem;
	}
	.top-info:before {
		right: -2.96rem;
	}
	.bottom-info__img-2 {
		top: 0.2rem;
	}
	.bottom-info__img-1 {
		margin: -1.2rem 0 0 9.5rem;
	}
	.offer__img-1 {
		width: 16rem;
		margin-top: 3.3rem;
	}
	.offer__img-2 {
		width: 7.09rem;
	}
	.advantages__img-1 {
		margin: 0.8rem 0 0 0.8rem;
	}
	.advantages__img-2 {
		right: 0.9rem;
	}
	.info__product-item:before {
		width: 11.25rem;
		height: 12rem;
	}
	.info__product-item-img {
		width: 17.8rem;
	}
	.info__product-item-title {
		top: 4.9rem;
	}
	.product__item-img {
		width: 22.63rem;
	}
	.product__column-center:after {
		background-size: 100%;
		width: 20.27rem;
		height: 27rem;
		top: -1.8rem;
		left: 0;
	}
	.product__column-right{
		max-width: 19.25rem
	}
	.btn_big {
		padding: 1.1rem 0;
		width: 19.25rem;
		height: 3.98rem;
	}
.order-form button{
	padding: 1.1rem 0;
	width: 19.25rem;
	height: 3.98rem;
}
	.order-form input {
		width: 19.25rem;
	}
}