@media (min-width: 768px) and (max-width: 979px) {
	
	main {
		
		overflow: hidden
	}
	
	.wrapper {
		max-width: 90%
	}
	
	.mobile-none {
		display: none
	}
	
	.desktop-none {
		display: block;
	}
	
	
	.top-info__wrap {
		width: 100%
		max-width: rem(680)
		margin: 0 auto
		flex-direction: column
		justify-content: center
		align-items: center
		position: relative
	}
	
	.info__column {
		width: 100%
	}
	
	.top-info__column__left {
		width: 100%
		margin-left: 0
	}
	
	.top-info__decor-1, .top-info__decor-3 {
		display: none
	}
	
	.top-info {
		padding: 1.2rem 0 2rem;
		position: relative;
	}
	
	.top-info__img-1 {
		display: none
	}
	
	.top-info__title {
		padding-left: 0
	}
	
	.top-info__logo {
		margin: 2rem auto 0
	}
	
	.top-info:before {
		top: 15.8rem;
		right: -5rem;
		
	}
	
	.info__products {
		margin: 38.8rem auto 0;
		width: 66%;
	}
	
	.info__product-item:nth-child(1) {
		margin-right: 0;
		margin-bottom: 1.8rem;
	}
	
	.countdown {
		flex-direction: column
	}
	
	.top-info__discount-btn {
		margin-top: 3rem
	}
	
	.top-info__column__right {
		position: absolute;
		top: 15.9rem;
		left: 0;
	}
	
	
	.top-info__video {
		margin: 6.7rem 0 0 -1rem;
	}
	
	.info__img-2 {
		position: absolute;
		top: -4rem;
		left: 1rem;
	}
	
	.info__img-3 {
		width: 18.28rem;
		position: absolute;
		top: -9.6rem;
		right: -9.6rem;
	}
	
	.top-info__decor-4 {
		top: 15rem;
		right: 9.1rem;
	}
	
	.top-info__decor-5 {
		opacity: 0.6
		top: 13rem;
		right: 4.7rem;
	}
	
	.advantages {
		position: relative;
		padding: 1.6rem 0;
	}
	
	.advantages__wrap {
		width: 100%
		max-width: rem(680)
		margin: 0 auto
		flex-direction: column
		justify-content: center
		align-items: center
	}
	
	.advantages__column-left {
		width: 100%;
		position: relative;
		
		&:after {
			background-size: 100%;
			//width: 32.32rem;
			//height: 25rem;
			top: 0rem;
			left: -0.3rem;
		}
	}
	
	.advantages__logo {
		margin: 1.3rem 0 0 1.3rem;
	}
	
	.advantages__video {
		display: none
	}
	
	.advantages__img-1 {
		margin: 1.8rem 0 0 -1.2rem;
		position: relative
		z-index: 6
	}
	
	.advantages__img-2 {
		top: 0.2rem;
		right: -4.1rem;
	}
	
	.advantages__column-right {
		width: 100%
		padding: 0
		margin-top: 2.2rem
	}
	
	.advantages__img-3 {
		display: none
	}
	
	.advantages__item-title {
		h3 {
			font-size: rem(18);
			line-height: rem(21);
		}
	}
	
	.advantages__item-txt {
		margin-top: 0.4rem
		
		p {
			font-size: rem(14);
			line-height: rem(16);
		}
	}
	
	.advantages__item {
		margin-bottom: 1.1rem
	}
	
	.offer {
		padding: 0 0 2.7rem;
	}
	
	.offer__wrap {
		width: 100%
		max-width: rem(680)
		margin: 0 auto
		flex-direction: column
		justify-content: center
		align-items: center
	}
	
	.offer__column-left {
		width: 72%
	}
	
	.offer__img-1 {
		margin-top: 3.3rem;
		position: relative
		z-index: 5
	}
	
	.offer__column-right {
		width: 100%;
	}
	
	.offer__title {
		margin-top: 2.1rem;
	}
	
	.offer__column__wrap {
		flex-direction: column
		margin-top: 2.15rem;
	}
	
	.offer__info {
		width: 100%;
		max-width: 100%;
		
		p {
			margin-bottom: 0.6rem
		}
	}
	
	.offer__form {
		margin: 2.3rem auto 0;
	}
	.order-form {
		input {
			width: 21.5rem;
		}
		
	}
	.products {
		padding: 3.8rem 0 2.2rem;
	}
	
	.product__item {
		padding: 1.2rem 0 0;
		margin-bottom: 3.85rem;
		
		&:after {
			background-size: 100%;
		}
	}
	
	.product__item__wrap {
		width: 100%
		max-width: rem(680)
		margin: 2.8rem auto 0
		justify-content: space-between
		flex-wrap: wrap
		align-items: center
	}
	
	.product__column-left {
		width: 49%
		margin-top: 2.1rem
	}
	
	.product__column-center {
		width: 49%
	}
	
	.product__column-right {
		width: 100%
		max-width: rem(340)
		margin: 3.5rem auto 0
	}
	
	.product__item-img {
		width: 23.63rem;
		margin: -1.8rem 0 0 -0.8rem;
	}
	
	.product__column-center:after {
		background-size: 100%;
		width: 21.13rem;
		height: 30.82rem;
		top: -4.8rem;
		left: 0;
	}
	
	.product__gallery-item {
		width: 31%;
		margin-bottom: 0.6rem
	}
	
	.product__footnote {
		margin-top: 1.7rem;
	}
	
	.product__item__price {
		margin-top: 5.1rem
	}
	
	.reviews:after {
		top: -2.7rem;
	}
	.review__item{
		max-width: 100%
	}
	.reviews__img {
		display: none
	}
	
	.user-name {
		p {
			font-size: rem(18);
			line-height: rem(21);
		}
	}
	
	.review__logo {
		display: none
	}
	
	.review__slider .swiper-container {
		padding: 2.7rem 0 4rem;
	}
	
	.bottom-info {
		padding: 2rem 0 2rem;
		position: relative;
	}
	
	.bottom-info__wrap {
		width: 100%
		max-width: rem(680)
		position: relative
		margin: 0rem auto 0
		flex-direction: column
		justify-content: center
		align-items: center
	}
	
	.bottom-info__title {
		width: 100%;
		
	}
	
	.bottom-info__column__right {
		position: absolute;
		left: 0;
		top: 7.8rem;
		
		&:after {
			background-size: 100%
			top: 0rem
			left: -0.3rem
		}
	}
	
	.bottom-info__logo {
		margin: 1.3rem 0 0 1.3rem;
	}
	
	.bottom-info__img-1 {
		margin: -3.2rem 0 0 20.5rem;
	}
	
	.bottom-info__img-2 {
		top: -0.8rem;
		right: -6.8rem;
	}
	
	.bottom-info__decor-4 {
		top: 16.7rem;
		left: -6rem;
		z-index: 2;
	}
	
	.bottom-info__decor-5 {
		top: 18.5rem;
		left: 0.5rem;
		z-index: 2;
	}
	
	.bottom-info__products {
		margin: 40.1rem auto 0;
	}
	.bottom-info__products .info__product-item:first-child {
		margin-right: 0.7rem;
	}
	
	.bottom-info__discount-btn {
		margin: 3rem auto 0;
		display: flex
		justify-content: center
		align-items: center
	}
	
	.bottom-info__column__left .bottom-info__countdown {
		margin: 0.9rem auto 0;
	}
	
	.footer__wrap {
		width: 100%
		max-width: rem(680)
		margin: 0rem auto 0
		flex-direction: column
		justify-content: center
		align-items: center
	}
	.create{
		margin-top: 0.5rem
	}
	.popup__show-video .popup__content {
		width: rem(640);
		height: rem(360);
	}
}
@media (max-width: 767px) and (min-width: 680px) {
	.top-info:before {
		top: 10.8rem;
		right: -14rem;
		z-index: 5;
	}
	.offer__img-2 {
		right: 2.8rem;
	}
	.bottom-info__decor-5 {
		left: 21.5rem;
	}
	.bottom-info__decor-4 {
		left: -2rem;
	}
}