@media (min-width: 2601px) and (max-width: 2900px) {
	.top-info:before {
		right: 32.24rem;
	}
	.advantages__decor-3 {
		top: 9.2rem;
		left: 0;
	}
	.triangle {
		width: 190rem;
		height: 40rem;
		position: absolute;
		&:after {
			border-width:40rem 190rem 0 0;
		}
	}
	
}
@media (min-width: 1950px) and (max-width: 2600px) {
	.top-info:before {
		right: 22.24rem;
	}
	.advantages__decor-3 {
		top: 9.2rem;
		left: 0;
	}
	.triangle {
		width: 160rem;
		height: 40rem;
		position: absolute;
		&:after {
			border-width:40rem 160rem 0 0;
		}
	}
	
}


@media (min-width: 1360px) and (max-width: 1679px) {
	.top-info:before {
		right: -14.76rem;
	}
}


@media (min-width: 980px) and (max-width: 1300px){
	html{
		font-size: 1.25vw
	}
	.top-info:before {
		right: -17.76rem;
	}
	.top-info__img-1 {
		left: -23.5rem;
	}
	.advantages__img-3 {
		right: -13.1rem;
	}
}

